---
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
name: Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      # https://github.com/marketplace/actions/checkout
      - uses: actions/checkout@v6

      - name: Start docker container
        uses: docker://docker
        with:
          args: >-
            run
            --name bind9
            --volume ${{ github.workspace }}/dev-dns-server/etc/named.conf:/etc/bind/named.conf
            --volume ${{ github.workspace }}/dev-dns-server/cache/dyndns1.dev.db:/var/cache/bind/dyndns1.dev.db
            --volume ${{ github.workspace }}/dev-dns-server/cache/dyndns2.dev.db:/var/cache/bind/dyndns2.dev.db
            --publish 55553:53/tcp
            --publish 55553:53/udp
            --detach
            ubuntu/bind9
      - run: sleep 5

      # https://docs.astral.sh/uv/guides/integration/github/#multiple-python-versions
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.4"
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests -m "not (slow or gui)"
